.quick-links { 
    text-align: center; 
    white-space: normal;
}

.quick-links > a.link {
    background-color: #fff;
    height: 35px;
    width: 35px;
    border: 1px solid #ccc;
    margin: auto auto 10px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 4px;
}

.quick-links > a.link.active { 
    border: 1px solid #009fbd;
    background-color: #99d9e4;
 }

.quick-links.minimized { text-align: left; }

.quick-links.minimized > a.link { 
    margin-bottom: 0; 
    display: inline-flex;
}

.quick-links.minimized > a.link:nth-child( odd ) { margin-right: 3px; }

.quick-links.minimized > a.link:nth-child( 0n + 3 ) { margin-top: 3px; }

.quick-links.minimized > a:last-of-type { margin-bottom: 10px; }

.quick-links > a.link > img {
    display: inline-block;
    width: 20px;
    height: 20px;
    align-self: center;
}

.quick-links > a.link:hover { border: 2px solid #009fbd; }

div#columns > div.column .quick-links .compare { text-align: center; }

div#columns > div.column .quick-links .compare {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding-top: 8px;
}

div#columns > div.column .quick-links .compare hr { width: 80%; }

.quick-links button { 
    min-width: 80% !important; 
    margin: auto;
}

.quick-links button:disabled {
    color: #ccc;
    border-color: #ccc;
}

.quick-links button.active {
    background-color: #27b34f;
    border-color: #27b34f;
    color: #fff;
}

.quick-links button:not( :disabled ):hover {
    background-color: #52c373;
    border-color: #27b34f;
    color: #fff;
} 